.grid {
  display: grid;
  grid-gap: 7.5px;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (min-width: 1000px) {
  .grid {
    grid-gap: 7.5px;
  }
}

.square {
  width: 20vw;
  height: 20vw;
  max-width: 200px;
  max-height: 200px;
  font-size: 4rem;
  text-align: center;
  color: white;
  border-radius: 25px;
  transition: 0.2s;
}

.square_o {
  background-color: rgb(80, 212, 168);
  animation: squareBounce linear 1s;
  transition: 0.2s;
}

.square_x {
  background-color: rgb(233, 62, 62);
  animation: squareBounce linear 1s;
  transition: 0.2s;
}

.reset:hover{
  animation: resetBounce 0.5s linear;
}

.reset {
  margin-top: 2rem;
  font-size: 2rem;
  width: 30vw;
  background-color: rgb(67, 193, 243);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 1rem;
  cursor: pointer;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, 30%);
  transform: translate(-50%, 30%);
}

@media screen and (min-width: 1000px) {
  .reset {
    -ms-transform: translate(-50%, 10%);
    transform: translate(-50%, 10%);
    font-size: 2rem;
    width: 30vw;
  }
}

p {
  font-size: 2rem;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: -9rem;
}

@keyframes squareBounce {
  20%, 50%, 80%, to {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  70% {
    transform: translateY(-15px);
  }
  90% {
    transform: translateY(-4px);
  }
}

@keyframes resetBounce {
  0%, 50%, 100%, to {
    transform: translate(-50%, 10%);
  }
  25%, 75% {
    transform: translate(-50%, 00%);
  }
}